body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
width: 100%;
background-color: #FECD30;
padding:45px 11px 65px 11px;
box-sizing: border-box;
}
.header-bar__element{
    display: flex;
    width: 33%;
}
.header-bar__element:nth-child(2){
    justify-content: center;
    font-size: 25px;
}
.header-bar__element:last-child{
    justify-content: flex-end;
}
.search-book{
    padding:25px 40px;

}